
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipesContainer {
	width: auto;
	height: 200px; /* height given for illustration */
	display: flex;
	flex-flow: row wrap;
  }

.recipesContainer > div {
	  margin: 10px;
	  flex: 0 1 calc(20% - 8px); /* <-- adjusting for margin */
}

.filters {
	margin: 20px;
	width: 600px;
}

.recipeForm {
	display: flex;
	flex-direction: column;
  align-items: flex-start;
}

.recipeForm > div {
	margin: 10px;
}


