

body {
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: small;
	margin: 8px 0 16px;
	text-align: center
}

#form_container {
	height: 400px;
	margin: 0 auto;
	text-align: left;
	width: 640px
}

#top {
	display: block;
	height: 10px;
	margin: 10px auto 0;
	width: 650px
}

#bottom {
	display: block;
	height: 10px;
	margin: 0 auto;
	width: 650px
}

h1 {
	margin: 0;
	min-height: 0;
	padding: 0;
	text-decoration: none;
	text-indent: -8000px
}

h1 a {
	display: block;
	height: 100%;
	min-height: 40px;
	overflow: hidden
}

img {
	behavior: url(css/iepngfix.htc);
	border: none
}

form ul {
	font-size: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%
}

form li {
	display: block;
	margin: 0;
	padding: 4px 5px 2px 9px;
	position: relative
}

form li:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}

* html form li {
	height: 1%
}

* html form li div {
	display: inline-block
}

form li div {
	color: #444;
	margin: 0 4px 0 0;
	padding: 0 0 8px
}

form li div label {
	clear: both;
	color: #444;
	display: block;
	font-size: 9px;
	line-height: 9px;
	margin: 0;
	padding-top: 3px
}

.form_description {
	border-bottom: 1px dotted #ccc;
	clear: both;
	display: inline-block;
	margin: 0 0 1em
}

.form_description[class] {
	display: block
}

.form_description h2 {
	clear: left;
	font-size: 160%;
	font-weight: 400;
	margin: 0 0 3px
}

.form_description p {
	font-size: 95%;
	line-height: 130%;
	margin: 0 0 12px
}

input.button_text {
	overflow: visible;
	padding: 0 7px;
	width: auto
}

label.description {
	border: none;
	color: #222;
	display: block;
	font-size: 95%;
	font-weight: 700;
	line-height: 150%;
	padding: 0 0 1px
}

input.text {
	background: #fff url(../../../images/shadow.gif) repeat-x top;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c;
	color: #333;
	font-size: 100%;
	margin: 0;
	padding: 2px 0
}

select.select {
	color: #333;
	font-size: 100%;
	margin: 1px 0;
	padding: 1px 0 0;
	background: #fff url(../../../images/shadow.gif) repeat-x top;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c
}

select.select[class] {
	margin: 0;
	padding: 1px 0
}

input.medium {
	width: 50%
}

select.medium {
	width: 50%
}

.recipesContainer {
	width: auto;
	height: 200px; /* height given for illustration */
	display: flex;
	flex-flow: row wrap;
	
	
	
  }

.recipesContainer > div {
	  margin: 10px;
	  flex: 0 1 calc(25% - 8px); /* <-- adjusting for margin */
}

.filters {
	margin-bottom: 20px;
	width: 600px;
}